---
layout: page
title: Categories
header: Posts By Category
group: navigation
---

<nav class="index-jump" aria-label="Jump to category">
	{% assign categories_list = site.categories %}
	{% if categories_list.first[0] == null %}
		{% for category in categories_list %}
			<a href="#{{ category | replace:' ','-' }}-ref">{{ category | capitalize }}<span class="badge">{{ site.categories[category].size }}</span></a>
		{% endfor %}
	{% else %}
		{% for category in categories_list %}
			<a href="#{{ category[0] | replace:' ','-' }}-ref">{{ category[0] | capitalize }}<span class="badge">{{ category[1].size }}</span></a>
		{% endfor %}
	{% endif %}
	{% assign categories_list = nil %}
</nav>

{% for category in site.categories %}
	<section class="index-section" id="{{ category[0] | replace:' ','-' }}-ref">
		<p class="strap">Category</p>
		<h2>{{ category[0] | capitalize }}</h2>
		<ul class="index-list">
			{% assign pages_list = category[1] %}
			{% for node in pages_list %}
				{% if node.title != null %}
					{% if group == null or group == node.group %}
						<li><a href="{{ site.BASE_PATH }}{{ node.url }}">{{ node.title }}</a> <span class="date">{{ node.date | date: "%b %d, %Y" }}</span></li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% assign pages_list = nil %}
		</ul>
	</section>
{% endfor %}
