---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<nav class="index-jump" aria-label="Jump to tag">
	{% for item in (0..site.tags.size) %}{% unless forloop.last %}
		{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
		<a href="#{{ this_word | replace:' ','-' }}-ref">{{ this_word }}<span class="badge">{{ site.tags[this_word].size }}</span></a>
	{% endunless %}{% endfor %}
</nav>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
	{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<section class="index-section" id="{{ this_word | replace:' ','-' }}-ref">
		<p class="strap">Tag</p>
		<h2>{{ this_word }}</h2>
		<ul class="index-list">
			{% for post in site.tags[this_word] %}{% if post.title != null %}
				<li><a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%b %d, %Y" }}</span></li>
			{% endif %}{% endfor %}
		</ul>
	</section>
{% endunless %}{% endfor %}
