<article class="post">
	<div class="page-header">
		<h1>{{ page.title }} {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}</h1>
	</div>

	<span class="post-date">
		{% assign d = page.date | date: "%d" | plus:'0' %}
		{{ page.date | date: "%B" }}
		{% case d %}
			{% when 1 or 21 or 31 %}{{ d }}st,
			{% when 2 or 22 %}{{ d }}nd,
			{% when 3 or 23 %}{{ d }}rd,
			{% else %}{{ d }}th,
		{% endcase %}
		{{ page.date | date: "%Y" }}
	</span>

	<div class="article_body">
		{{ content }}
	</div>

	{% unless page.categories == empty %}
	<ul class="tag_box list-inline">
		<li aria-hidden="true"><svg class="meta-ico" viewBox="0 0 24 24"><path d="M10 4H2v16h20V6H12l-2-2Z"/></svg></li>
		{% assign categories_list = page.categories %}
		{% if categories_list.first[0] == null %}
			{% for category in categories_list %}
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category | replace:' ','-' }}-ref">
					{{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
				</a></li>
			{% endfor %}
		{% else %}
			{% for category in categories_list %}
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] | replace:' ','-' }}-ref">
					{{ category[0] | join: "/" }} <span>({{ category[1].size }})</span>
				</a></li>
			{% endfor %}
		{% endif %}
	</ul>
	{% endunless %}

	<hr>

	<section class="author">
		<img src="https://www.gravatar.com/avatar/{{ site.author.email_md5 }}?s=128" class="author-image" alt="{{ site.author.name }}">
		<div>
			<h3 class="section-title author-name">{{ site.author.name }}</h3>
			<p class="author-bio">{{ site.author.bio }}</p>
		</div>
	</section>

	<ul class="pager">
		{% if page.previous %}
		<li class="previous"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
		{% else %}
		<li class="previous disabled"><a>&larr; Previous</a></li>
		{% endif %}
		{% if page.next %}
		<li class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
		{% else %}
		<li class="next disabled"><a>Next &rarr;</a></li>
		{% endif %}
	</ul>
</article>
